[submodule "external/glslang"]
	path = external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "external/Spirv-Cross"]
	path = external/Spirv-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
